<!DOCTYPE html>
<html
	layout:decorator="layouts/main">

<head>
</head>

<body>

	<div layout:fragment="content">
		<div class="messageAtTop">	
			<div th:if="${param.error}">Wrong username or password!</div>
			<div th:if="${param.logout}">Logout successful!</div>
		</div>
		
		<div class="textCenterCenter">	
			<form name="login" th:action="@{/login}" method="post">
				
				<label for="username">Username:</label> 
				<br/>
			    <input type="text" id="username" name="username" placeholder="Username"
			    	required="true" maxlength="20" /> 
			    <br/>
			    
				<label for="password">Password:</label> 
				<br/>
			    <input type="password" id="password" name="password" placeholder="Password"
			    	required="true" maxlength="20" />
			    <br/>
				
				<br/>
				<div class="divInnerCenter">
					<button type="submit">Login!</button>
				</div>			
			</form>
			
			
		</div>
	
		<br/><br/>
		<a href="/registration" class="textCenterCenter">Registration!</a>
	
	</div>

</body>
</html>