<!DOCTYPE html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">	
<head>
	<link rel="stylesheet" type="text/css" href="css/main.css" />
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="js/lang-change.js" type="text/javascript"></script>
</head>

<body>
	<div>
		<header>
			<div id="languageChanger">
  		  		<span th:text="#{lang.change}"></span>:
  		  		<br/>	  		
				<select id="locales">
					<option value="" />
			    	<option value="eng" th:text="#{lang.eng}"></option>
			    	<option value="hu" th:text="#{lang.hu}"></option>
				</select>
  		 	</div>
  		 	
  		 	<div id="loginStatusPanel">
  		 		<div>
  		 			Welcome <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>!			
  		 		</div>
  		 		<div id="logoutForm">
					<form sec:authorize="isAuthenticated()" id="formlogout" th:action="@{/logout}" method="post">
						<a href="javascript:{}" onclick="document.getElementById('formlogout').submit(); return false;">Logout</a>
					</form>
				</div>
			</div>
		</header>

		<nav>
			<a href="/"><div class="navItem"><p>Home</p></div></a>
			<a href="/lockers"><div class="navItem"><p>Lockers</p></div></a>
		</nav>
		
		<div layout:fragment="content">
			<!--  CONTENT HERE  -->
			<!--  CONTENT HERE  -->
			<!--  CONTENT HERE  -->
		</div>


		<br/><br/><br/>
		<footer>
			<!-- <a href="/releaseAllLocker">Release the lockers (TEST ONLY!)</a>  -->
			<p>Norbert Ollai</p>
		</footer>
	
	</div>

	
</body>
</html>