<!DOCTYPE html>
<html
	layout:decorator="layouts/main">

<head>
	<link rel="stylesheet" type="text/css" href="css/locker.css" />
	<script src="js/set-locker-status-2.js" type="text/javascript"></script>
</head>

<body>

<div layout:fragment="content">

	<div class="messageAtTop">
		<p th:text="${param.resultMsg != null}? ${#messages.msg(param.resultMsg[0])} : ''"/>
	</div>
	
	<div id="lockerContainer">
		<div class="lockerItemClass" th:each="item : ${lockerList}">
	   	
	   		<div class="lockerItemLeftSide textCenterCenter">
	   			<p th:text="#{lockers.lockerName} + ': ' + ${item.id}">Error!</p>
	   		</div>

			<div class="lockerItemRightSide">
			
		        <button
		        	class="rentingButton"
		        	th:id="${item.id}"
		        	th:text="#{'lockerstatus.' + __${item.rentedByEnum}__}">       
		        </button>
	        </div>
       </div>
	</div>
	
	<div id="reservation-list">
			<!-- the content will be placed here* -->
	</div>
	
	<script id="locker-container-template" type="text/x-handlebars-template">
		<p>Hello</p>
		{{#each this}}
			<div>
				<p>Hello</p>
				<p>{{id}}</p>
				<p>{{rentedByEnum}}</p>
			</div>
		{{/each}}


	</script>
	
</div>

</body>

</html>