<!DOCTYPE html>
<html
	layout:decorator="layouts/main"
	xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<div layout:fragment="loginContent">

	hello lockers
	<br/>
	<p th:text="${param.resultMsg != null}? ${param.resultMsg[0]} : ''">Error with the renting!</p>
	<br/><br/>
	
	<ul>
	    <li th:each="item : ${lockerList}">
	        <span th:text="'Id: ' + ${item.id} + '; '">Error!</span>
	        <span th:text="${item.rentedByString}">Error!</span>
	        <form method="POST"
	        	th:action="@{/rentLocker(id=${item.id})}"
	        	th:if="${item.rentedByEnum.toString() != 'RENTED_BY_YOU'}">
		        <button type="submit"
		        	th:text="${item.rented}? 'Already rented!' : 'Rent it!'"
		        	th:disabled="${item.rented}? true : false"
		        	>
		        	Error with the button!
		        </button>
	        </form>
	        <form method="POST"
	        	th:action="@{/releaseLocker(id=${item.id})}"
	        	th:if="${item.rentedByEnum.toString() == 'RENTED_BY_YOU'}">
		        <button type="submit">
		        	Release!
		        </button>
	        </form>
	        <br/>
	    </li>
	</ul>
	
	<br/><br/>
	<a href="/x">Navigate to the X Page!</a>
	
</div>

</body>

</html>