<!DOCTYPE html>
<html
	layout:decorator="layouts/main">

<head>
	<link rel="stylesheet" type="text/css" href="css/locker.css" />
</head>

<body>

<div layout:fragment="content">

	<div class="messageAtTop">
		<p th:text="${param.resultMsg != null}? ${#messages.msg(param.resultMsg[0])} : ''"/>
	</div>
	
	<div id="lockerContainer">
		<div class="lockerItemClass" th:each="item : ${lockerList}">
	   	
	   		<div class="lockerItemLeftSide textCenterCenter">
	   			<p th:text="#{lockers.lockerName} + ': ' + ${item.id}">Error!</p>
	   		</div>

			<div class="lockerItemRightSide">
		        <form method="POST" class="rentingForm"
		        	th:if="${item.rentedByEnum.toString() != 'RENTED_BY_YOU'}"
		        	th:action="@{/rentLocker(id=${item.id})}">
		        	
			        <button type="submit" class="rentingButton"
			        	th:text="${item.rentedByEnum.toString() == 'NOT_RENTED'}? #{rented.rentIt} : #{rented.alreadyRented}"	       
			        	th:disabled="${item.rentedByEnum.toString() != 'NOT_RENTED'}">
			        	Error with the button!
			        </button>
		        </form>
		        
		        <form method="POST" class="rentingForm"
		        	th:if="${item.rentedByEnum.toString() == 'RENTED_BY_YOU'}"
		        	th:action="@{/releaseLocker(id=${item.id})}">
		        	
			        <button type="submit" class="rentingButton"
			        	th:text="#{rented.release}">
			        	Release!
			        </button>
		        </form>
	        </div>
	         
       </div>
	</div>
	
</div>

</body>

</html>