<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">

<head>
</head>

<body>

	<div layout:fragment="loginContent">

		<!-- <p th:text="${param.resultMsg != null}? ${param.resultMsg[0]} : ''"/>  -->
		<p th:text="${param.resultMsg != null}? ${#messages.msg(param.resultMsg[0])} : ''"/>

		<form name="registration" th:action="@{/registrationRequest}" th:object="${user}" method="post">
			<h2>Registration form</h2>
			
	 	    <input type="text" th:field="*{username}"
	 	    	placeholder="Username" required="true" maxlength="20" /> 
	 	    <br/>
		    <input type="password" th:field="*{password}"
		    	placeholder="Password" required="true" maxlength="20" />
			<br/>
			<input type="password" th:field="*{passwordAgain}"
				placeholder="Password Again" required="true" maxlength="20" />
			<br/>
			<button type="submit">Sign up!</button>
		</form>

	</div>

</body>
</html>